
*{
    margin: 0px;
    padding: 0px;
}
#container{
    margin: 10px 150px;
    padding: 10px 40px;

}
.img{
    width: 50%;
    height: 50%;
    margin: 10px 10px 10px 250px;
}
.subcontainer{
    display: flex;
    margin: auto;
}
.icon{
    margin: 10px -70px 10px 250px;
    height: 100px;
    width: 100px;
    

}
