#login-form-div{
    border : 1px solid;
    height: 250px; 
    width: 300px;
    text-align: center;
    margin: auto;  
    margin-top: 80px;
    border-radius: 13px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 15px;
}

input{
    width: 85%;
    margin-bottom: 10px;
    padding: 5px;
}
#login{
    background-color: blue;
    width: 40%;
    color: antiquewhite;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}