h1,h3,p{
    text-align: center;
  
}
.bottom div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
.top{
    display: grid;
    grid-template-columns: repeat(3,32%);
    
    margin: 5px 30px;
}
.bottom{
    display: grid;
    grid-template-columns: repeat(4,24%);
    gap: 15px;
    margin: 5px 40px;
}
img{
    width: 100%;
    border-radius: 10px;
}
.logo{
    width: 110px;
    display:block;
    margin: auto;
    margin-bottom: 10px;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .bottom{
        grid-template-columns: repeat(3,32%);
        margin: 5px 15px;
    }
    
}

/* small screens */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    .bottom{
        grid-template-columns: repeat(2,48%);
        margin: 5px 10px;
    }
    
    .top{
        grid-template-columns: repeat(1,98%);
    }
}